@font-face {
  font-family: 'RobotoMonoNerd';
  src: url('fonts/RobotoMonoNerdFontMono-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
  font-family: "RobotoMonoNerd";
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #000;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#canvas {
  background-color: #000;
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
  margin: 100px;
  padding: 0px;
  position: static; /* fixed or static */
  top: 100px;
  left: 100px;
}

header, #landing_page_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 1em;
  position: absolute;
  max-width: 1300px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.logo {
  margin-right: auto;
  font-weight: 1000;
  font-size: 30px;
}

.nav__links {
  list-style: none;
  display: flex;
}

*,
.nav__links a,
.cta,
.overlay__content a {
  font-family: "RobotoMonoNerd", Monospace, sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s;
}

.nav__links li a::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #ffffff;
  transition: 300ms;
}

.nav__links li a:hover::after, .nav__links li a.nav__links__active::after {
  width: 100%;
}

/* .about { */
/*   overflow: auto; */
/*   scroll-snap-align: start; */
/*   position: absolute; */
/*   width: 50vw; */
/*   top: 110vh; */
/*   left: 50%; */
/*   transform: translate(-50%, 0%); */
/**/
/*   color: white; */
/*   background-color: rgba(0, 0, 0, 0.0); */
/**/
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: center; */
/*   vertical-align: text-top; */
/*   text-align: left; */
/*   font-size: large; */
/* } */

.about {
    overflow: auto;
    scroll-snap-align: start;
    position: relative;
    max-width: 605px;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: text-top;
    text-align:justify;
    font-family: "RobotoMonoNerd", Monospace, sans-serif;
    /* border: 2px dashed; */
    border-radius: 8px;
}

.about-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about-image {
    margin: 20px auto;
    perspective: 1000px;
    transition: transform 0.5s ease;
}

.about-text {
    margin: 20px auto;
}

.highlight__ubuntu {
  color: #DD4814;
}

.highlight__vim {
  color: #019833;
}

.highlight__aoc {
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

.highlight {
  color: #4184DD;
}

.underlined::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background: #ffffff;
  transition: 300ms;
}

.contacts {
  margin: 20px auto 0 auto;
  width: 100%;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-link {
    text-decoration: none;
}

.underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

/* .dot { */
/*     font-size: 1.5em; */
/*     vertical-align: middle; */
/* } */

/* MOBILE */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  header, #landing_page_header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 30px 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo {
    margin: 0 auto 1em auto;
    font-size: 24px;
  }

  .about {
      overflow: auto;
      scroll-snap-align: start;
      position: relative;
      /* width: 50em; */
      left: 50%;
      transform: translate(-50%, 0);
      color: white;
      background-color: rgba(0, 0, 0, 0.0);
      display: flex;
      flex-direction: column;
      justify-content: center;
      vertical-align: text-top;
      text-align:justify;
      font-family: "RobotoMonoNerd", Monospace, sans-serif;
      /* border: 2px dashed; */
      border-radius: 8px;
      padding: 5%;
  }
}
